<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".LoginAndRegisterActivity"
            android:configChanges="locale|keyboardHidden|keyboard|orientation|colorMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>
</manifest>